In [1]:
import pandas as pd
import pickle
import numpy as np

In [2]:
df = pickle.load(open('dataset_level2.pkl','rb'))

In [3]:
df

# batting_team
# bowling team
# city
# current score
# ball left
# wickets left
# current rr
# last five

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,venue
0,2,Australia,Sri Lanka,0.1,0,0,NaN,Melbourne Cricket Ground
1,2,Australia,Sri Lanka,0.2,0,0,NaN,Melbourne Cricket Ground
2,2,Australia,Sri Lanka,0.3,1,0,NaN,Melbourne Cricket Ground
3,2,Australia,Sri Lanka,0.4,2,0,NaN,Melbourne Cricket Ground
4,2,Australia,Sri Lanka,0.5,0,0,NaN,Melbourne Cricket Ground
...,...,...,...,...,...,...,...,...
404896,3350,Sri Lanka,Australia,19.3,1,0,Colombo,R Premadasa Stadium
404897,3350,Sri Lanka,Australia,19.4,0,0,Colombo,R Premadasa Stadium
404898,3350,Sri Lanka,Australia,19.5,0,DM de Silva,Colombo,R Premadasa Stadium
404899,3350,Sri Lanka,Australia,19.6,2,0,Colombo,R Premadasa Stadium
404900,3350,Sri Lanka,Australia,19.7,1,0,Colombo,R Premadasa Stadium

In [4]:
df.isnull().sum()

match_id               0
batting_team           0
bowling_team           0
ball                   0
runs                   0
player_dismissed       0
city                8671
venue                  0
dtype: int64

In [5]:
df[df['city'].isnull()]['venue'].value_counts()

venue
Dubai International Cricket Stadium        3092
Pallekele International Cricket Stadium    2066
Melbourne Cricket Ground                   1453
Sydney Cricket Ground                       749
Adelaide Oval                               498
Harare Sports Club                          372
Sharjah Cricket Stadium                     249
Sylhet International Cricket Stadium        128
Carrara Oval                                 64
Name: count, dtype: int64

In [6]:
cities = np.where(df['city'].isnull(),df['venue'].str.split().apply(lambda x:x[0]),df['city'])

In [7]:
df['city'] = cities

In [8]:
df.isnull().sum()

match_id            0
batting_team        0
bowling_team        0
ball                0
runs                0
player_dismissed    0
city                0
venue               0
dtype: int64

In [9]:
df.drop(columns=['venue'],inplace=True)

In [10]:
df

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city
0,2,Australia,Sri Lanka,0.1,0,0,Melbourne
1,2,Australia,Sri Lanka,0.2,0,0,Melbourne
2,2,Australia,Sri Lanka,0.3,1,0,Melbourne
3,2,Australia,Sri Lanka,0.4,2,0,Melbourne
4,2,Australia,Sri Lanka,0.5,0,0,Melbourne
...,...,...,...,...,...,...,...
404896,3350,Sri Lanka,Australia,19.3,1,0,Colombo
404897,3350,Sri Lanka,Australia,19.4,0,0,Colombo
404898,3350,Sri Lanka,Australia,19.5,0,DM de Silva,Colombo
404899,3350,Sri Lanka,Australia,19.6,2,0,Colombo
404900,3350,Sri Lanka,Australia,19.7,1,0,Colombo

In [11]:
eligible_cities = df['city'].value_counts()[df['city'].value_counts() > 600].index.tolist()

In [12]:
df = df[df['city'].isin(eligible_cities)]

In [13]:
df

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city
0,2,Australia,Sri Lanka,0.1,0,0,Melbourne
1,2,Australia,Sri Lanka,0.2,0,0,Melbourne
2,2,Australia,Sri Lanka,0.3,1,0,Melbourne
3,2,Australia,Sri Lanka,0.4,2,0,Melbourne
4,2,Australia,Sri Lanka,0.5,0,0,Melbourne
...,...,...,...,...,...,...,...
404896,3350,Sri Lanka,Australia,19.3,1,0,Colombo
404897,3350,Sri Lanka,Australia,19.4,0,0,Colombo
404898,3350,Sri Lanka,Australia,19.5,0,DM de Silva,Colombo
404899,3350,Sri Lanka,Australia,19.6,2,0,Colombo
404900,3350,Sri Lanka,Australia,19.7,1,0,Colombo

In [26]:


# Convert 'runs' column to numeric dtype
df['runs'] = pd.to_numeric(df['runs'])

# Apply cumsum grouped by 'match_id'
df['current_score'] = df.groupby('match_id')['runs'].cumsum()

C:\Users\SOFIA SULTHANA\AppData\Local\Temp\ipykernel_25652\3609490072.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['runs'] = pd.to_numeric(df['runs'])
C:\Users\SOFIA SULTHANA\AppData\Local\Temp\ipykernel_25652\3609490072.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['current_score'] = df.groupby('match_id')['runs'].cumsum()

In [28]:
df

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,over,ball_no,balls_bowled,balls_left,wickets_left,current_score
0,2,Australia,Sri Lanka,0.1,0,0,Melbourne,0,1,1,119,10,0
1,2,Australia,Sri Lanka,0.2,0,0,Melbourne,0,2,2,118,10,0
2,2,Australia,Sri Lanka,0.3,1,0,Melbourne,0,3,3,117,10,1
3,2,Australia,Sri Lanka,0.4,2,0,Melbourne,0,4,4,116,10,3
4,2,Australia,Sri Lanka,0.5,0,0,Melbourne,0,5,5,115,10,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
404896,3350,Sri Lanka,Australia,19.3,1,8,Colombo,19,3,117,3,2,125
404897,3350,Sri Lanka,Australia,19.4,0,8,Colombo,19,4,118,2,2,125
404898,3350,Sri Lanka,Australia,19.5,0,9,Colombo,19,5,119,1,1,125
404899,3350,Sri Lanka,Australia,19.6,2,9,Colombo,19,6,120,0,1,127
404900,3350,Sri Lanka,Australia,19.7,1,9,Colombo,19,7,121,0,1,128

In [29]:
df['over'] = df['ball'].apply(lambda x:str(x).split(".")[0])
df['ball_no'] = df['ball'].apply(lambda x:str(x).split(".")[1])
df

C:\Users\SOFIA SULTHANA\AppData\Local\Temp\ipykernel_25652\3575727727.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['over'] = df['ball'].apply(lambda x:str(x).split(".")[0])
C:\Users\SOFIA SULTHANA\AppData\Local\Temp\ipykernel_25652\3575727727.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ball_no'] = df['ball'].apply(lambda x:str(x).split(".")[1])

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,over,ball_no,balls_bowled,balls_left,wickets_left,current_score
0,2,Australia,Sri Lanka,0.1,0,0,Melbourne,0,1,1,119,10,0
1,2,Australia,Sri Lanka,0.2,0,0,Melbourne,0,2,2,118,10,0
2,2,Australia,Sri Lanka,0.3,1,0,Melbourne,0,3,3,117,10,1
3,2,Australia,Sri Lanka,0.4,2,0,Melbourne,0,4,4,116,10,3
4,2,Australia,Sri Lanka,0.5,0,0,Melbourne,0,5,5,115,10,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
404896,3350,Sri Lanka,Australia,19.3,1,8,Colombo,19,3,117,3,2,125
404897,3350,Sri Lanka,Australia,19.4,0,8,Colombo,19,4,118,2,2,125
404898,3350,Sri Lanka,Australia,19.5,0,9,Colombo,19,5,119,1,1,125
404899,3350,Sri Lanka,Australia,19.6,2,9,Colombo,19,6,120,0,1,127
404900,3350,Sri Lanka,Australia,19.7,1,9,Colombo,19,7,121,0,1,128

In [30]:
df['balls_bowled'] = (df['over'].astype('int')*6) + df['ball_no'].astype('int')
df

C:\Users\SOFIA SULTHANA\AppData\Local\Temp\ipykernel_25652\562775579.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['balls_bowled'] = (df['over'].astype('int')*6) + df['ball_no'].astype('int')

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,over,ball_no,balls_bowled,balls_left,wickets_left,current_score
0,2,Australia,Sri Lanka,0.1,0,0,Melbourne,0,1,1,119,10,0
1,2,Australia,Sri Lanka,0.2,0,0,Melbourne,0,2,2,118,10,0
2,2,Australia,Sri Lanka,0.3,1,0,Melbourne,0,3,3,117,10,1
3,2,Australia,Sri Lanka,0.4,2,0,Melbourne,0,4,4,116,10,3
4,2,Australia,Sri Lanka,0.5,0,0,Melbourne,0,5,5,115,10,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
404896,3350,Sri Lanka,Australia,19.3,1,8,Colombo,19,3,117,3,2,125
404897,3350,Sri Lanka,Australia,19.4,0,8,Colombo,19,4,118,2,2,125
404898,3350,Sri Lanka,Australia,19.5,0,9,Colombo,19,5,119,1,1,125
404899,3350,Sri Lanka,Australia,19.6,2,9,Colombo,19,6,120,0,1,127
404900,3350,Sri Lanka,Australia,19.7,1,9,Colombo,19,7,121,0,1,128

In [31]:
df['balls_left'] = 120 - df['balls_bowled']
df['balls_left'] = df['balls_left'].apply(lambda x:0 if x<0 else x)
df

C:\Users\SOFIA SULTHANA\AppData\Local\Temp\ipykernel_25652\2304996896.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['balls_left'] = 120 - df['balls_bowled']
C:\Users\SOFIA SULTHANA\AppData\Local\Temp\ipykernel_25652\2304996896.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['balls_left'] = df['balls_left'].apply(lambda x:0 if x<0 else x)

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,over,ball_no,balls_bowled,balls_left,wickets_left,current_score
0,2,Australia,Sri Lanka,0.1,0,0,Melbourne,0,1,1,119,10,0
1,2,Australia,Sri Lanka,0.2,0,0,Melbourne,0,2,2,118,10,0
2,2,Australia,Sri Lanka,0.3,1,0,Melbourne,0,3,3,117,10,1
3,2,Australia,Sri Lanka,0.4,2,0,Melbourne,0,4,4,116,10,3
4,2,Australia,Sri Lanka,0.5,0,0,Melbourne,0,5,5,115,10,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
404896,3350,Sri Lanka,Australia,19.3,1,8,Colombo,19,3,117,3,2,125
404897,3350,Sri Lanka,Australia,19.4,0,8,Colombo,19,4,118,2,2,125
404898,3350,Sri Lanka,Australia,19.5,0,9,Colombo,19,5,119,1,1,125
404899,3350,Sri Lanka,Australia,19.6,2,9,Colombo,19,6,120,0,1,127
404900,3350,Sri Lanka,Australia,19.7,1,9,Colombo,19,7,121,0,1,128

In [32]:
import pandas as pd

# Convert 'player_dismissed' column to numeric, replacing '0' with 0
df['player_dismissed'] = pd.to_numeric(df['player_dismissed'].replace('0', 0))

# Apply cumsum after conversion
df['player_dismissed'] = df.groupby('match_id')['player_dismissed'].cumsum()

# Calculate remaining wickets
df['wickets_left'] = 10 - df['player_dismissed']

C:\Users\SOFIA SULTHANA\AppData\Local\Temp\ipykernel_25652\4000880955.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['player_dismissed'] = pd.to_numeric(df['player_dismissed'].replace('0', 0))
C:\Users\SOFIA SULTHANA\AppData\Local\Temp\ipykernel_25652\4000880955.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['player_dismissed'] = df.groupby('match_id')['player_dismissed'].cumsum()
C:\Users\SOFIA SULTHANA\AppData\Local\Temp\ipykernel_25652\4000880955.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['wickets_left'] = 10 - df['player_dismissed']

In [33]:
df

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,over,ball_no,balls_bowled,balls_left,wickets_left,current_score
0,2,Australia,Sri Lanka,0.1,0,0,Melbourne,0,1,1,119,10,0
1,2,Australia,Sri Lanka,0.2,0,0,Melbourne,0,2,2,118,10,0
2,2,Australia,Sri Lanka,0.3,1,0,Melbourne,0,3,3,117,10,1
3,2,Australia,Sri Lanka,0.4,2,0,Melbourne,0,4,4,116,10,3
4,2,Australia,Sri Lanka,0.5,0,0,Melbourne,0,5,5,115,10,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
404896,3350,Sri Lanka,Australia,19.3,1,490,Colombo,19,3,117,3,-480,125
404897,3350,Sri Lanka,Australia,19.4,0,498,Colombo,19,4,118,2,-488,125
404898,3350,Sri Lanka,Australia,19.5,0,507,Colombo,19,5,119,1,-497,125
404899,3350,Sri Lanka,Australia,19.6,2,516,Colombo,19,6,120,0,-506,127
404900,3350,Sri Lanka,Australia,19.7,1,525,Colombo,19,7,121,0,-515,128

In [50]:
df['crr'] = (df['current_score']*6)/df['balls_bowled']

C:\Users\SOFIA SULTHANA\AppData\Local\Temp\ipykernel_25652\2902028393.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['crr'] = (df['current_score']*6)/df['balls_bowled']

In [51]:
df

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,over,ball_no,balls_bowled,balls_left,wickets_left,current_score,crr
0,2,Australia,Sri Lanka,0.1,0,0,Melbourne,0,1,1,119,10,0,0.000000
1,2,Australia,Sri Lanka,0.2,0,0,Melbourne,0,2,2,118,10,0,0.000000
2,2,Australia,Sri Lanka,0.3,1,0,Melbourne,0,3,3,117,10,1,2.000000
3,2,Australia,Sri Lanka,0.4,2,0,Melbourne,0,4,4,116,10,3,4.500000
4,2,Australia,Sri Lanka,0.5,0,0,Melbourne,0,5,5,115,10,3,3.600000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
404896,3350,Sri Lanka,Australia,19.3,1,490,Colombo,19,3,117,3,-480,125,6.410256
404897,3350,Sri Lanka,Australia,19.4,0,498,Colombo,19,4,118,2,-488,125,6.355932
404898,3350,Sri Lanka,Australia,19.5,0,507,Colombo,19,5,119,1,-497,125,6.302521
404899,3350,Sri Lanka,Australia,19.6,2,516,Colombo,19,6,120,0,-506,127,6.350000
404900,3350,Sri Lanka,Australia,19.7,1,525,Colombo,19,7,121,0,-515,128,6.347107

In [63]:
last_five = []
last_five_indices = []  # Store the indices for alignment

for id in match_ids:
    runs = groups.get_group(id)['runs']
    # Filter out non-numeric values
    numeric_runs = runs.apply(pd.to_numeric, errors='coerce')
    # Apply rolling sum to numeric values only
    rolling_sum = numeric_runs.rolling(window=30).sum()
    # Extend the last_five list with the rolling sum values and their indices
    last_five.extend(rolling_sum.dropna().values.tolist())
    last_five_indices.extend(rolling_sum.dropna().index.tolist())

# Adjust the length of last_five to match the number of rows in the DataFrame
num_rows_diff = len(df) - len(last_five)
last_five.extend([np.nan] * num_rows_diff)

# Assign 'last_five' to the 'last_five' column
df['last_five'] = last_five

C:\Users\SOFIA SULTHANA\AppData\Local\Temp\ipykernel_25652\3982651248.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['last_five'] = last_five

In [64]:
df['last_five'] = last_five

C:\Users\SOFIA SULTHANA\AppData\Local\Temp\ipykernel_25652\1102800720.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['last_five'] = last_five

In [65]:
print("Length of 'last_thirty':", len(last_thirty))
print("Number of rows in the DataFrame:", len(df))

Length of 'last_thirty': 12587
Number of rows in the DataFrame: 51109

In [66]:
df

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,over,ball_no,balls_bowled,balls_left,wickets_left,current_score,crr,last_five
0,2,Australia,Sri Lanka,0.1,0,0,Melbourne,0,1,1,119,10,0,0.000000,43.0
1,2,Australia,Sri Lanka,0.2,0,0,Melbourne,0,2,2,118,10,0,0.000000,44.0
2,2,Australia,Sri Lanka,0.3,1,0,Melbourne,0,3,3,117,10,1,2.000000,45.0
3,2,Australia,Sri Lanka,0.4,2,0,Melbourne,0,4,4,116,10,3,4.500000,44.0
4,2,Australia,Sri Lanka,0.5,0,0,Melbourne,0,5,5,115,10,3,3.600000,42.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
404896,3350,Sri Lanka,Australia,19.3,1,490,Colombo,19,3,117,3,-480,125,6.410256,NaN
404897,3350,Sri Lanka,Australia,19.4,0,498,Colombo,19,4,118,2,-488,125,6.355932,NaN
404898,3350,Sri Lanka,Australia,19.5,0,507,Colombo,19,5,119,1,-497,125,6.302521,NaN
404899,3350,Sri Lanka,Australia,19.6,2,516,Colombo,19,6,120,0,-506,127,6.350000,NaN
404900,3350,Sri Lanka,Australia,19.7,1,525,Colombo,19,7,121,0,-515,128,6.347107,NaN

In [67]:
final_df = df.groupby('match_id').sum()['runs'].reset_index().merge(df,on='match_id')

In [68]:
final_df=final_df[['batting_team','bowling_team','city','current_score','balls_left','wickets_left','crr','last_five','runs_x']]

In [69]:
final_df.isnull().sum()

batting_team         0
bowling_team         0
city                 0
current_score        0
balls_left           0
wickets_left         0
crr                  0
last_five        12169
runs_x               0
dtype: int64

In [76]:
import pandas as pd

# Assuming df is your DataFrame and 'last_five' is the column you want to clean
df = df.dropna(subset=['last_five']).copy()

In [77]:
final_df.isnull().sum()

batting_team         0
bowling_team         0
city                 0
current_score        0
balls_left           0
wickets_left         0
crr                  0
last_five        12169
runs_x               0
dtype: int64

In [78]:
final_df = final_df.sample(final_df.shape[0])

In [79]:
final_df.sample(2)

,batting_team,bowling_team,city,current_score,balls_left,wickets_left,crr,last_five,runs_x
15836,West Indies,South Africa,Johannesburg,95,64,10,10.178571,47.0,205
24826,Pakistan,England,Barbados,7,117,10,14.000000,48.0,147

In [80]:
X = final_df.drop(columns=['runs_x'])
y = final_df['runs_x']
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=1)

In [81]:

X_train

,batting_team,bowling_team,city,current_score,balls_left,wickets_left,crr,last_five
40552,Australia,West Indies,Mirpur,4,115,10,4.800000,NaN
34420,West Indies,Sri Lanka,Colombo,101,20,-190,6.060000,52.0
47464,New Zealand,India,Nagpur,113,4,-398,5.844828,NaN
125,Australia,Sri Lanka,Adelaide,0,119,10,0.000000,40.0
10322,South Africa,India,Chandigarh,34,88,0,6.375000,49.0
...,...,...,...,...,...,...,...,...
31731,India,Afghanistan,Colombo,16,105,7,6.400000,31.0
10244,Australia,South Africa,Cape Town,125,42,-3,9.615385,40.0
33065,India,Australia,Colombo,122,15,-284,6.971429,27.0
25606,West Indies,India,Barbados,26,89,10,5.032258,26.0
18523,New Zealand,England,Manchester,14,101,-5,4.421053,46.0

In [83]:
pip install xgboost

Collecting xgboost
  Downloading xgboost-2.0.3-py3-none-win_amd64.whl.metadata (2.0 kB)
Requirement already satisfied: numpy in c:\anaconda\lib\site-packages (from xgboost) (1.26.4)
Requirement already satisfied: scipy in c:\anaconda\lib\site-packages (from xgboost) (1.11.4)
Downloading xgboost-2.0.3-py3-none-win_amd64.whl (99.8 MB)
   ---------------------------------------- 0.0/99.8 MB ? eta -:--:--
   ---------------------------------------- 0.0/99.8 MB 660.6 kB/s eta 0:02:31
   ---------------------------------------- 0.3/99.8 MB 3.4 MB/s eta 0:00:30
   ---------------------------------------- 0.9/99.8 MB 6.8 MB/s eta 0:00:15
    --------------------------------------- 1.7/99.8 MB 10.7 MB/s eta 0:00:10
    --------------------------------------- 2.2/99.8 MB 10.0 MB/s eta 0:00:10
    --------------------------------------- 2.4/99.8 MB 9.1 MB/s eta 0:00:11
   - -------------------------------------- 2.6/99.8 MB 8.3 MB/s eta 0:00:12
   - -------------------------------------- 2.8/99.8 MB 7.7 MB/s eta 0:00:13
   - -------------------------------------- 2.9/99.8 MB 7.2 MB/s eta 0:00:14
   - -------------------------------------- 3.0/99.8 MB 6.9 MB/s eta 0:00:14
   - -------------------------------------- 3.2/99.8 MB 6.4 MB/s eta 0:00:16
   - -------------------------------------- 3.5/99.8 MB 6.5 MB/s eta 0:00:15
   - -------------------------------------- 3.8/99.8 MB 6.6 MB/s eta 0:00:15
   - -------------------------------------- 4.2/99.8 MB 6.5 MB/s eta 0:00:15
   - -------------------------------------- 4.6/99.8 MB 6.8 MB/s eta 0:00:15
   - -------------------------------------- 4.8/99.8 MB 6.7 MB/s eta 0:00:15
   -- ------------------------------------- 5.1/99.8 MB 6.7 MB/s eta 0:00:15
   -- ------------------------------------- 5.3/99.8 MB 6.7 MB/s eta 0:00:15
   -- ------------------------------------- 5.6/99.8 MB 6.8 MB/s eta 0:00:14
   -- ------------------------------------- 6.0/99.8 MB 6.9 MB/s eta 0:00:14
   -- ------------------------------------- 6.3/99.8 MB 6.8 MB/s eta 0:00:14
   -- ------------------------------------- 6.4/99.8 MB 6.6 MB/s eta 0:00:15
   -- ------------------------------------- 6.6/99.8 MB 6.4 MB/s eta 0:00:15
   -- ------------------------------------- 6.8/99.8 MB 6.4 MB/s eta 0:00:15
   -- ------------------------------------- 7.1/99.8 MB 6.4 MB/s eta 0:00:15
   -- ------------------------------------- 7.4/99.8 MB 6.5 MB/s eta 0:00:15
   --- ------------------------------------ 7.6/99.8 MB 6.4 MB/s eta 0:00:15
   --- ------------------------------------ 7.8/99.8 MB 6.4 MB/s eta 0:00:15
   --- ------------------------------------ 8.0/99.8 MB 6.4 MB/s eta 0:00:15
   --- ------------------------------------ 8.3/99.8 MB 6.4 MB/s eta 0:00:15
   --- ------------------------------------ 8.5/99.8 MB 6.3 MB/s eta 0:00:15
   --- ------------------------------------ 8.7/99.8 MB 6.3 MB/s eta 0:00:15
   --- ------------------------------------ 8.9/99.8 MB 6.3 MB/s eta 0:00:15
   --- ------------------------------------ 9.2/99.8 MB 6.3 MB/s eta 0:00:15
   --- ------------------------------------ 9.5/99.8 MB 6.3 MB/s eta 0:00:15
   --- ------------------------------------ 9.8/99.8 MB 6.4 MB/s eta 0:00:15
   ---- ----------------------------------- 10.0/99.8 MB 6.4 MB/s eta 0:00:15
   ---- ----------------------------------- 10.2/99.8 MB 6.3 MB/s eta 0:00:15
   ---- ----------------------------------- 10.3/99.8 MB 6.4 MB/s eta 0:00:15
   ---- ----------------------------------- 10.4/99.8 MB 6.3 MB/s eta 0:00:15
   ---- ----------------------------------- 10.5/99.8 MB 6.2 MB/s eta 0:00:15
   ---- ----------------------------------- 10.7/99.8 MB 6.1 MB/s eta 0:00:15
   ---- ----------------------------------- 11.0/99.8 MB 6.0 MB/s eta 0:00:15
   ---- ----------------------------------- 11.4/99.8 MB 6.0 MB/s eta 0:00:15
   ---- ----------------------------------- 11.8/99.8 MB 5.8 MB/s eta 0:00:16
   ---- ----------------------------------- 12.2/99.8 MB 5.8 MB/s eta 0:00:16
   ----- ---------------------------------- 12.6/99.8 MB 5.9 MB/s eta 0:00:15
   ----- ---------------------------------- 13.0/99.8 MB 6.1 MB/s eta 0:00:15
   ----- ---------------------------------- 13.2/99.8 MB 6.2 MB/s eta 0:00:14
   ----- ---------------------------------- 13.4/99.8 MB 6.2 MB/s eta 0:00:14
   ----- ---------------------------------- 13.6/99.8 MB 6.2 MB/s eta 0:00:14
   ----- ---------------------------------- 13.7/99.8 MB 6.2 MB/s eta 0:00:14
   ----- ---------------------------------- 13.9/99.8 MB 6.2 MB/s eta 0:00:14
   ----- ---------------------------------- 14.2/99.8 MB 6.1 MB/s eta 0:00:14
   ----- ---------------------------------- 14.6/99.8 MB 6.1 MB/s eta 0:00:14
   ----- ---------------------------------- 14.8/99.8 MB 6.1 MB/s eta 0:00:15
   ------ --------------------------------- 15.1/99.8 MB 6.1 MB/s eta 0:00:14
   ------ --------------------------------- 15.4/99.8 MB 6.2 MB/s eta 0:00:14
   ------ --------------------------------- 15.7/99.8 MB 6.1 MB/s eta 0:00:14
   ------ --------------------------------- 15.8/99.8 MB 6.0 MB/s eta 0:00:14
   ------ --------------------------------- 16.1/99.8 MB 6.0 MB/s eta 0:00:15
   ------ --------------------------------- 16.3/99.8 MB 5.9 MB/s eta 0:00:15
   ------ --------------------------------- 16.5/99.8 MB 5.9 MB/s eta 0:00:15
   ------ --------------------------------- 16.9/99.8 MB 6.1 MB/s eta 0:00:14
   ------ --------------------------------- 17.2/99.8 MB 6.1 MB/s eta 0:00:14
   ------- -------------------------------- 17.5/99.8 MB 6.1 MB/s eta 0:00:14
   ------- -------------------------------- 17.7/99.8 MB 6.1 MB/s eta 0:00:14
   ------- -------------------------------- 18.0/99.8 MB 6.1 MB/s eta 0:00:14
   ------- -------------------------------- 18.3/99.8 MB 6.1 MB/s eta 0:00:14
   ------- -------------------------------- 18.6/99.8 MB 6.2 MB/s eta 0:00:14
   ------- -------------------------------- 19.0/99.8 MB 6.3 MB/s eta 0:00:13
   ------- -------------------------------- 19.3/99.8 MB 6.4 MB/s eta 0:00:13
   ------- -------------------------------- 19.4/99.8 MB 6.2 MB/s eta 0:00:14
   ------- -------------------------------- 19.6/99.8 MB 6.1 MB/s eta 0:00:14
   ------- -------------------------------- 19.7/99.8 MB 6.1 MB/s eta 0:00:14
   ------- -------------------------------- 19.9/99.8 MB 6.0 MB/s eta 0:00:14
   -------- ------------------------------- 20.1/99.8 MB 6.0 MB/s eta 0:00:14
   -------- ------------------------------- 20.3/99.8 MB 6.0 MB/s eta 0:00:14
   -------- ------------------------------- 20.6/99.8 MB 6.1 MB/s eta 0:00:13
   -------- ------------------------------- 20.9/99.8 MB 6.3 MB/s eta 0:00:13
   -------- ------------------------------- 21.3/99.8 MB 6.3 MB/s eta 0:00:13
   -------- ------------------------------- 21.6/99.8 MB 6.3 MB/s eta 0:00:13
   -------- ------------------------------- 22.0/99.8 MB 6.2 MB/s eta 0:00:13
   -------- ------------------------------- 22.3/99.8 MB 6.2 MB/s eta 0:00:13
   --------- ------------------------------ 22.5/99.8 MB 6.1 MB/s eta 0:00:13
   --------- ------------------------------ 22.7/99.8 MB 6.1 MB/s eta 0:00:13
   --------- ------------------------------ 22.8/99.8 MB 6.0 MB/s eta 0:00:13
   --------- ------------------------------ 23.0/99.8 MB 5.8 MB/s eta 0:00:14
   --------- ------------------------------ 23.2/99.8 MB 5.8 MB/s eta 0:00:14
   --------- ------------------------------ 23.5/99.8 MB 5.8 MB/s eta 0:00:14
   --------- ------------------------------ 23.8/99.8 MB 6.0 MB/s eta 0:00:13
   --------- ------------------------------ 24.2/99.8 MB 6.1 MB/s eta 0:00:13
   --------- ------------------------------ 24.6/99.8 MB 6.2 MB/s eta 0:00:13
   --------- ------------------------------ 24.9/99.8 MB 6.2 MB/s eta 0:00:13
   ---------- ----------------------------- 25.1/99.8 MB 6.2 MB/s eta 0:00:13
   ---------- ----------------------------- 25.3/99.8 MB 6.1 MB/s eta 0:00:13
   ---------- ----------------------------- 25.5/99.8 MB 6.1 MB/s eta 0:00:13
   ---------- ----------------------------- 25.7/99.8 MB 6.0 MB/s eta 0:00:13
   ---------- ----------------------------- 25.9/99.8 MB 6.0 MB/s eta 0:00:13
   ---------- ----------------------------- 26.1/99.8 MB 6.0 MB/s eta 0:00:13
   ---------- ----------------------------- 26.4/99.8 MB 6.1 MB/s eta 0:00:13
   ---------- ----------------------------- 26.7/99.8 MB 6.1 MB/s eta 0:00:13
   ---------- ----------------------------- 27.0/99.8 MB 6.1 MB/s eta 0:00:12
   ---------- ----------------------------- 27.4/99.8 MB 6.1 MB/s eta 0:00:12
   ----------- ---------------------------- 27.7/99.8 MB 6.1 MB/s eta 0:00:12
   ----------- ---------------------------- 27.9/99.8 MB 6.1 MB/s eta 0:00:12
   ----------- ---------------------------- 28.2/99.8 MB 6.1 MB/s eta 0:00:12
   ----------- ---------------------------- 28.5/99.8 MB 6.1 MB/s eta 0:00:12
   ----------- ---------------------------- 28.8/99.8 MB 6.0 MB/s eta 0:00:12
   ----------- ---------------------------- 29.1/99.8 MB 6.0 MB/s eta 0:00:12
   ----------- ---------------------------- 29.2/99.8 MB 5.9 MB/s eta 0:00:12
   ----------- ---------------------------- 29.3/99.8 MB 5.8 MB/s eta 0:00:13
   ----------- ---------------------------- 29.4/99.8 MB 5.7 MB/s eta 0:00:13
   ----------- ---------------------------- 29.7/99.8 MB 5.8 MB/s eta 0:00:13
   ------------ --------------------------- 29.9/99.8 MB 5.9 MB/s eta 0:00:12
   ------------ --------------------------- 30.2/99.8 MB 6.1 MB/s eta 0:00:12
   ------------ --------------------------- 30.6/99.8 MB 6.1 MB/s eta 0:00:12
   ------------ --------------------------- 30.9/99.8 MB 6.1 MB/s eta 0:00:12
   ------------ --------------------------- 31.1/99.8 MB 6.1 MB/s eta 0:00:12
   ------------ --------------------------- 31.4/99.8 MB 6.0 MB/s eta 0:00:12
   ------------ --------------------------- 31.7/99.8 MB 6.0 MB/s eta 0:00:12
   ------------ --------------------------- 31.9/99.8 MB 6.0 MB/s eta 0:00:12
   ------------ --------------------------- 32.1/99.8 MB 6.0 MB/s eta 0:00:12
   ------------- -------------------------- 32.4/99.8 MB 6.0 MB/s eta 0:00:12
   ------------- -------------------------- 32.6/99.8 MB 5.9 MB/s eta 0:00:12
   ------------- -------------------------- 32.9/99.8 MB 6.0 MB/s eta 0:00:12
   ------------- -------------------------- 33.2/99.8 MB 6.2 MB/s eta 0:00:11
   ------------- -------------------------- 33.5/99.8 MB 6.2 MB/s eta 0:00:11
   ------------- -------------------------- 33.6/99.8 MB 6.1 MB/s eta 0:00:11
   ------------- -------------------------- 33.8/99.8 MB 6.1 MB/s eta 0:00:11
   ------------- -------------------------- 34.0/99.8 MB 6.0 MB/s eta 0:00:11
   ------------- -------------------------- 34.2/99.8 MB 6.0 MB/s eta 0:00:12
   ------------- -------------------------- 34.4/99.8 MB 5.8 MB/s eta 0:00:12
   ------------- -------------------------- 34.7/99.8 MB 5.8 MB/s eta 0:00:12
   -------------- ------------------------- 34.9/99.8 MB 5.7 MB/s eta 0:00:12
   -------------- ------------------------- 35.3/99.8 MB 5.8 MB/s eta 0:00:12
   -------------- ------------------------- 35.6/99.8 MB 6.0 MB/s eta 0:00:11
   -------------- ------------------------- 36.1/99.8 MB 6.1 MB/s eta 0:00:11
   -------------- ------------------------- 36.4/99.8 MB 6.2 MB/s eta 0:00:11
   -------------- ------------------------- 36.7/99.8 MB 6.2 MB/s eta 0:00:11
   -------------- ------------------------- 36.9/99.8 MB 6.1 MB/s eta 0:00:11
   -------------- ------------------------- 37.0/99.8 MB 6.1 MB/s eta 0:00:11
   -------------- ------------------------- 37.2/99.8 MB 6.1 MB/s eta 0:00:11
   -------------- ------------------------- 37.3/99.8 MB 6.0 MB/s eta 0:00:11
   --------------- ------------------------ 37.4/99.8 MB 5.9 MB/s eta 0:00:11
   --------------- ------------------------ 37.6/99.8 MB 5.8 MB/s eta 0:00:11
   --------------- ------------------------ 37.7/99.8 MB 5.7 MB/s eta 0:00:11
   --------------- ------------------------ 38.0/99.8 MB 5.7 MB/s eta 0:00:11
   --------------- ------------------------ 38.3/99.8 MB 5.7 MB/s eta 0:00:11
   --------------- ------------------------ 38.7/99.8 MB 5.8 MB/s eta 0:00:11
   --------------- ------------------------ 39.2/99.8 MB 5.9 MB/s eta 0:00:11
   --------------- ------------------------ 39.6/99.8 MB 6.2 MB/s eta 0:00:10
   ---------------- ----------------------- 39.9/99.8 MB 6.2 MB/s eta 0:00:10
   ---------------- ----------------------- 40.2/99.8 MB 6.2 MB/s eta 0:00:10
   ---------------- ----------------------- 40.4/99.8 MB 6.1 MB/s eta 0:00:10
   ---------------- ----------------------- 40.7/99.8 MB 6.1 MB/s eta 0:00:10
   ---------------- ----------------------- 41.0/99.8 MB 6.0 MB/s eta 0:00:10
   ---------------- ----------------------- 41.2/99.8 MB 6.0 MB/s eta 0:00:10
   ---------------- ----------------------- 41.3/99.8 MB 6.0 MB/s eta 0:00:10
   ---------------- ----------------------- 41.6/99.8 MB 6.0 MB/s eta 0:00:10
   ---------------- ----------------------- 41.9/99.8 MB 6.0 MB/s eta 0:00:10
   ---------------- ----------------------- 42.3/99.8 MB 6.0 MB/s eta 0:00:10
   ----------------- ---------------------- 42.6/99.8 MB 6.0 MB/s eta 0:00:10
   ----------------- ---------------------- 42.9/99.8 MB 6.0 MB/s eta 0:00:10
   ----------------- ---------------------- 43.2/99.8 MB 6.0 MB/s eta 0:00:10
   ----------------- ---------------------- 43.5/99.8 MB 6.0 MB/s eta 0:00:10
   ----------------- ---------------------- 43.7/99.8 MB 5.9 MB/s eta 0:00:10
   ----------------- ---------------------- 43.8/99.8 MB 5.8 MB/s eta 0:00:10
   ----------------- ---------------------- 44.0/99.8 MB 5.9 MB/s eta 0:00:10
   ----------------- ---------------------- 44.3/99.8 MB 5.9 MB/s eta 0:00:10
   ----------------- ---------------------- 44.6/99.8 MB 6.0 MB/s eta 0:00:10
   ----------------- ---------------------- 44.9/99.8 MB 6.0 MB/s eta 0:00:10
   ------------------ --------------------- 45.3/99.8 MB 6.0 MB/s eta 0:00:10
   ------------------ --------------------- 45.8/99.8 MB 6.0 MB/s eta 0:00:09
   ------------------ --------------------- 46.2/99.8 MB 6.0 MB/s eta 0:00:09
   ------------------ --------------------- 46.4/99.8 MB 6.0 MB/s eta 0:00:09
   ------------------ --------------------- 46.7/99.8 MB 5.9 MB/s eta 0:00:09
   ------------------ --------------------- 46.9/99.8 MB 5.9 MB/s eta 0:00:09
   ------------------ --------------------- 47.2/99.8 MB 6.0 MB/s eta 0:00:09
   ------------------- -------------------- 47.5/99.8 MB 6.1 MB/s eta 0:00:09
   ------------------- -------------------- 47.9/99.8 MB 6.4 MB/s eta 0:00:09
   ------------------- -------------------- 48.3/99.8 MB 6.4 MB/s eta 0:00:09
   ------------------- -------------------- 48.6/99.8 MB 6.4 MB/s eta 0:00:08
   ------------------- -------------------- 48.8/99.8 MB 6.3 MB/s eta 0:00:09
   ------------------- -------------------- 49.0/99.8 MB 6.2 MB/s eta 0:00:09
   ------------------- -------------------- 49.1/99.8 MB 6.1 MB/s eta 0:00:09
   ------------------- -------------------- 49.2/99.8 MB 6.0 MB/s eta 0:00:09
   ------------------- -------------------- 49.5/99.8 MB 6.0 MB/s eta 0:00:09
   ------------------- -------------------- 49.7/99.8 MB 5.9 MB/s eta 0:00:09
   -------------------- ------------------- 49.9/99.8 MB 5.8 MB/s eta 0:00:09
   -------------------- ------------------- 50.2/99.8 MB 5.8 MB/s eta 0:00:09
   -------------------- ------------------- 50.5/99.8 MB 5.8 MB/s eta 0:00:09
   -------------------- ------------------- 50.9/99.8 MB 5.9 MB/s eta 0:00:09
   -------------------- ------------------- 51.2/99.8 MB 6.0 MB/s eta 0:00:09
   -------------------- ------------------- 51.5/99.8 MB 6.1 MB/s eta 0:00:08
   -------------------- ------------------- 51.8/99.8 MB 6.1 MB/s eta 0:00:08
   -------------------- ------------------- 52.0/99.8 MB 6.1 MB/s eta 0:00:08
   -------------------- ------------------- 52.3/99.8 MB 6.1 MB/s eta 0:00:08
   --------------------- ------------------ 52.5/99.8 MB 6.0 MB/s eta 0:00:08
   --------------------- ------------------ 52.8/99.8 MB 6.0 MB/s eta 0:00:08
   --------------------- ------------------ 53.0/99.8 MB 6.0 MB/s eta 0:00:08
   --------------------- ------------------ 53.3/99.8 MB 6.0 MB/s eta 0:00:08
   --------------------- ------------------ 53.6/99.8 MB 6.0 MB/s eta 0:00:08
   --------------------- ------------------ 54.0/99.8 MB 6.1 MB/s eta 0:00:08
   --------------------- ------------------ 54.3/99.8 MB 6.2 MB/s eta 0:00:08
   --------------------- ------------------ 54.5/99.8 MB 6.2 MB/s eta 0:00:08
   --------------------- ------------------ 54.6/99.8 MB 6.2 MB/s eta 0:00:08
   --------------------- ------------------ 54.8/99.8 MB 6.1 MB/s eta 0:00:08
   ---------------------- ----------------- 55.1/99.8 MB 6.1 MB/s eta 0:00:08
   ---------------------- ----------------- 55.4/99.8 MB 6.0 MB/s eta 0:00:08
   ---------------------- ----------------- 55.8/99.8 MB 6.0 MB/s eta 0:00:08
   ---------------------- ----------------- 56.2/99.8 MB 6.0 MB/s eta 0:00:08
   ---------------------- ----------------- 56.6/99.8 MB 6.1 MB/s eta 0:00:08
   ---------------------- ----------------- 56.8/99.8 MB 6.1 MB/s eta 0:00:08
   ---------------------- ----------------- 57.1/99.8 MB 6.1 MB/s eta 0:00:08
   ----------------------- ---------------- 57.4/99.8 MB 6.2 MB/s eta 0:00:07
   ----------------------- ---------------- 57.7/99.8 MB 6.1 MB/s eta 0:00:07
   ----------------------- ---------------- 57.9/99.8 MB 6.1 MB/s eta 0:00:07
   ----------------------- ---------------- 58.2/99.8 MB 6.1 MB/s eta 0:00:07
   ----------------------- ---------------- 58.4/99.8 MB 6.0 MB/s eta 0:00:07
   ----------------------- ---------------- 58.6/99.8 MB 5.9 MB/s eta 0:00:07
   ----------------------- ---------------- 58.8/99.8 MB 5.8 MB/s eta 0:00:08
   ----------------------- ---------------- 59.0/99.8 MB 5.9 MB/s eta 0:00:07
   ----------------------- ---------------- 59.3/99.8 MB 6.1 MB/s eta 0:00:07
   ----------------------- ---------------- 59.6/99.8 MB 6.2 MB/s eta 0:00:07
   ----------------------- ---------------- 59.8/99.8 MB 6.2 MB/s eta 0:00:07
   ------------------------ --------------- 60.1/99.8 MB 6.2 MB/s eta 0:00:07
   ------------------------ --------------- 60.3/99.8 MB 6.1 MB/s eta 0:00:07
   ------------------------ --------------- 60.4/99.8 MB 6.1 MB/s eta 0:00:07
   ------------------------ --------------- 60.7/99.8 MB 6.1 MB/s eta 0:00:07
   ------------------------ --------------- 60.9/99.8 MB 6.1 MB/s eta 0:00:07
   ------------------------ --------------- 61.2/99.8 MB 6.0 MB/s eta 0:00:07
   ------------------------ --------------- 61.5/99.8 MB 6.1 MB/s eta 0:00:07
   ------------------------ --------------- 61.8/99.8 MB 6.1 MB/s eta 0:00:07
   ------------------------ --------------- 62.1/99.8 MB 6.1 MB/s eta 0:00:07
   ------------------------- -------------- 62.4/99.8 MB 6.1 MB/s eta 0:00:07
   ------------------------- -------------- 62.7/99.8 MB 6.1 MB/s eta 0:00:07
   ------------------------- -------------- 63.0/99.8 MB 6.2 MB/s eta 0:00:06
   ------------------------- -------------- 63.3/99.8 MB 6.4 MB/s eta 0:00:06
   ------------------------- -------------- 63.5/99.8 MB 6.3 MB/s eta 0:00:06
   ------------------------- -------------- 63.7/99.8 MB 6.2 MB/s eta 0:00:06
   ------------------------- -------------- 63.8/99.8 MB 6.1 MB/s eta 0:00:06
   ------------------------- -------------- 64.0/99.8 MB 6.1 MB/s eta 0:00:06
   ------------------------- -------------- 64.1/99.8 MB 6.0 MB/s eta 0:00:06
   ------------------------- -------------- 64.3/99.8 MB 6.0 MB/s eta 0:00:06
   ------------------------- -------------- 64.5/99.8 MB 5.9 MB/s eta 0:00:06
   ------------------------- -------------- 64.7/99.8 MB 5.9 MB/s eta 0:00:06
   -------------------------- ------------- 65.0/99.8 MB 6.0 MB/s eta 0:00:06
   -------------------------- ------------- 65.5/99.8 MB 6.1 MB/s eta 0:00:06
   -------------------------- ------------- 65.8/99.8 MB 6.2 MB/s eta 0:00:06
   -------------------------- ------------- 66.1/99.8 MB 6.1 MB/s eta 0:00:06

In [84]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor
from sklearn.metrics import r2_score,mean_absolute_error

In [85]:
trf = ColumnTransformer([
    ('trf',OneHotEncoder(sparse=False,drop='first'),['batting_team','bowling_team','city'])
]
,remainder='passthrough')

In [86]:
pipe = Pipeline(steps=[
    ('step1',trf),
    ('step2',StandardScaler()),
    ('step3',XGBRegressor(n_estimators=1000,learning_rate=0.2,max_depth=12,random_state=1))
])

In [87]:
pipe.fit(X_train,y_train)
y_pred = pipe.predict(X_test)
print(r2_score(y_test,y_pred))
print(mean_absolute_error(y_test,y_pred))

C:\anaconda\Lib\site-packages\sklearn\preprocessing\_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

0.9786428847297514
2.149097188674548

In [88]:
pickle.dump(pipe,open('pipe.pkl','wb'))

In [89]:
import xgboost
xgboost.__version__

'2.0.3'